<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div id="card-wrapper">
      <div class="flashcard">
        <div class="question">
          <h2><%= @card.question %></h2>
          <div class="answer">
            <h2><%= @card.answer %></h2>
          </div>
          <div class="anchor">
            <!-- <#%= @card.image %> -->
          </div>
        </div>
        <div class="tags">
        </div>
      </div>
    </div>
  </div>
</div>